{% extends "base.html" %}
{% load static %}
{% block title %}<title>About</title>{% endblock %}
{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3> About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="mission_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="mission_info">
                        <h3>Our Mission</h3>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit duis sed odio sit amet. say adieus who direct esteem. It esteems luckily or picture placing drawing. Apartments this day frequently or motionless on reasonable. Steem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="thumb pl-68">
                        <img src="{% static 'img/misson/1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- creative_mind_area start  -->
    <div class="creative_mind_area">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 col-md-12 col-lg-6">
                    <div class="creativ_thumb">
                        <img src="{% static 'img/creative_mind/1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-5 col-md-12 col-lg-5">
                    <div class="creative_info">
                        <div class="section_title">
                            <h3>Professional and <br>
                                    creative mind</h3>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, <br> nec sagittis sem nibh id elit duis sed odio sit amet.</p>
                        </div>
                        <div class="progressBars">
                                <div class="single_bar">
                                    <h4>Architecture</h4>
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                                        </div>
                                </div>
                                <div class="single_bar">
                                    <h4>3D Design</h4>
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>65%</span></div>
                                        </div>
                                </div>
                                <div class="single_bar">
                                    <h4>Interior</h4>
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                                        </div>
                                </div>
                            </div>

                            <a href="contact.html" class="boxed-btn3-line">contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- creative_mind_area end  -->
    
    <div class="team_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-50">
                            <h3>Our Team</h3>
                        </div>
                    </div>
                </div>
                    <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_team">
                                    <div class="team_thumb">
                                        <img src="{% static 'img/team/3.png' %}" alt="">
                                    </div>
                                    <div class="team_info text-center">
                                        <h3>Milani Mou</h3>
                                        <p>Architect</p>
                                        <div class="social_link">
                                            <ul>
                                                <li><a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_team">
                                    <div class="team_thumb">
                                        <img src="{% static 'img/team/2.png' %}" alt="">
                                    </div>
                                    <div class="team_info text-center">
                                        <h3>Jasmine Pinky</h3>
                                        <p>3D Designer</p>
                                        <div class="social_link">
                                            <ul>
                                                <li><a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_team">
                                    <div class="team_thumb">
                                        <img src="{% static 'img/team/1.png' %}" alt="">
                                    </div>
                                    <div class="team_info text-center">
                                        <h3>Robert Albert</h3>
                                        <p>Interior Designer</p>
                                        <div class="social_link">
                                            <ul>
                                                <li><a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>

    <!-- testimonial_area  -->
    <div class="testimonial_area overlay ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <!-- instagram_area start  -->
    <div class="instagram_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-70">
                        <h3>@Instagram</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single_insta">
                        <img src="{% static 'img/instragram/1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_insta">
                        <img src="{% static 'img/instragram/2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_insta">
                        <img src="{% static 'img/instragram/3.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- instagram_area end  -->

{% endblock %}