{% extends "base.html" %}
{% load static %}
{% block title %}<title>IGILIK</title>{% endblock %}
{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text">
                                        <h3>Igilik qogamdyk qory</h3>
                                        <a href="#" class="boxed-btn3">Біз жайлы</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text">
                                        <h3>Interior Design Solution
                                            For your Business</h3>
                                        <a href="#" class="boxed-btn3">View Works</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text">
                                        <h3>Interior Design Solution
                                            For your Business</h3>
                                        <a href="#" class="boxed-btn3">View Works</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- prise_area_start  -->
    <div class="prise_area">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>Білім</h5>
                            <p class="prise_text">
                              <strong>- Ғылыми жобалар</strong><br>
                              <strong>- Жас өнертапқыш</strong> <br>
                              <strong>- Шығарма байқаулары</strong> <br>
                              <strong>- "Мамандық таңдау"</strong> <br>
                              <strong>- Интелектуалды олимпиада</strong> <br>
                              <strong>- "KITAP LIFE"</strong> <br>
                              <strong>- Мен тұлғамын</strong> <br>
                            </p>
                        </div>
                        <div class="prise_number">
                                01
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>Спорт</h5>
                            <p class="prise_text">
                              <strong>- "IGILIK OPEN"</strong><br>
                              <strong>- "IGILIK CUP"</strong> <br>
                              <strong>- "IGILIK BASKET"</strong> <br>
                              <strong>- "IGILIK VOLLEY"</strong> <br>
                              <strong>- "QAZAQ KURESI"</strong> <br>
                              <strong></strong> <br>
                              <strong></strong> <br>
                            </p>
                        </div>
                        <div class="prise_number">
                                02
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>Әлуметтік жобалар</h5>
                            <p class="prise_text">
                              <strong>- TED-X</strong><br>
                              <strong>- Әлуметтік көмек</strong><br>
                              <strong>- "Алтын құрсақты ана"</strong><br>
                              <strong>- Игі іс - мұқтаждың қуанышы</strong><br>
                              <strong>- "IGILIK FILMS"</strong><br>
                              <strong>- "10 жаңа есім" жобасы</strong><br>
                              <strong>- "Жыл ұздіктері"</strong><br>
                            </p>
                        </div>
                        <div class="prise_number">
                                03
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prise_area_end  -->

    <!-- works_area-start  -->
    <div class="works_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-70">
                        <h3>Соңғы жаңалықтар</h3>
                    </div>
                </div>
            </div>

            {% for post in post_list %}
                {% if post.singleType_id == 1 and post.is_published == 1 %}
                    {% if post.id|divisibleby:2 %}
                        <div class="row align-items-center mb-80">
                            <div class="col-lg-7 col-md-6">
                                <div class="thumb">
                                    <img src="{% static 'img/works/1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="work_info pl-68">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.content|slice:":210" }}...</p>
                                    <a href="singleNews/{{ post.id }}" class="boxed-btn3-line">Details</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row align-items-center mb-80">
                            <div class="col-lg-5 col-md-6">
                                <div class="work_info">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.content|slice:":210" }}...</p>
                                    <a href="singleNews/{{ post.id }}" class="boxed-btn3-line">Details</a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="thumb">
                                    <img src="{% static 'img/works/2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <!--/ works_area-end  -->

    <!-- creative_mind_area start  -->
    <div class="creative_mind_area">
            <div class="container-fluid p-0">
                <div class="row no-gutters align-items-center">
                    <div class="col-xl-6 col-md-12 col-lg-6">
                        <div class="creativ_thumb">
                            <img src="{% static 'img/creative_mind/1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12 col-lg-5">
                        <div class="creative_info">
                            <div class="section_title">
                                <h3>Professional and <br>
                                        creative mind</h3>
                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, <br> nec sagittis sem nibh id elit duis sed odio sit amet.</p>
                            </div>
                            <div class="progressBars">
                                    <div class="single_bar">
                                        <h4>Architecture</h4>
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                                            </div>
                                    </div>
                                    <div class="single_bar">
                                        <h4>3D Design</h4>
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>65%</span></div>
                                            </div>
                                    </div>
                                    <div class="single_bar">
                                        <h4>Interior</h4>
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                                            </div>
                                    </div>
                                </div>

                                <a href="about.html" class="boxed-btn3-line">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- creative_mind_area end  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area overlay ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <!-- instagram_area start  -->
    <section>
        <div class="hs-partners bg-arip py-5">
            <div class="container">
                <h3 class="gs-title mb-5">
                    Игілік қоғамдық қор әріптестері</h3>
                <div class="owl-carousel sll1">
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                    <div class="hs-partners__item" style="width: 100%; display: inline-block; height: 100%;">
                        <a href="#" tabindex="-1">
                            <img src="{% static 'img/igilik.logo.png' %}" alt="7" title="7">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instagram_area end  -->

{% endblock %}
