{% extends "base.html" %}
{% load static %}
{% block title %}<title>ITEM NEWS</title>{% endblock %}
{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_4 Extra_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center bradcam_text2">
                        <h3>{{ post.title }}</h3>
                        <h3>{{ post.data }}</h3>
                        <p>{{ post.time_create }} |  Kazakhstan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- project_details_area  -->
    <div class="project_details_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <p class="large_text text-center">
                        {{ post.title }}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-11">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <div class="details_info_wrap">
                                {{ post.content}}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="border_1px">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="social_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> Facebook</a></li>
                                <li><a href="#"> <i class="fa fa-pinterest"></i> Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project_details_area end  -->

    <div class="related_works_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Related Works</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in data %}
                    <div class="col-md-6">
                        <div class="single_works">
                            <div class="thumb">
                                <img src="{% static 'img/details-img/1.png' %}" alt="">
                            </div>
                            <div class="works_info">
                                <h3><a href="{% url "singleNews" item.id%}">{{ item.title }}</a></h3>
                                <p>{{ item.content|slice:":210" }}...</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
